body{
  /*background-image: url('/imges/cloudy-sky-day.jpg');*/
background-position: center center;  
  background-repeat: no-repeat;        
  background-size: cover;         
  background-attachment: fixed;       
  min-height: 100vh;  
   padding-top: 80px; 
}









.title-home{

    font-size: 40px;
    margin-left: 65px;
}

.search-btn{

width: 300px;



}
 
.switch {
  position: relative;
  display: inline-flex;
  width: 60px;
  height: 34px;
  margin-right: 50px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #293fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 480px) {
  .switch {
    margin-right: 1rem; 
    width: 52px;
    height: 32px;
  }
  
  .slider:before {
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
  }
}


.title-home2{

    font-size: 25px;
    margin-left: 65px;
    color: white;
   

}

.title-toggle2{

color: white;
}

.card {
  background-color: transparent !important;
    border: none !important; 
}

.card-body{

background-color: #6b5fa6;
height: 508px;

margin-right: 35%;
border-radius: 20px;
top: 50px;


}

.card-title{

    color: white;
    display: flex;
    justify-content: left;
    font-weight: 400px;
    font-family: inter;
    font-size: 45px;
    font-style: regular;

}

.card-H-L{
 color: white;


}
.card-text{

 color: white;
 display: flex;
    justify-content: left;
     font-family: inter;
}

.fw-bold{
color: white;


}

.icon{
width: 217.77px;
height:217.77px; 
}

.text{

    font-size: 40px;
    font-weight: 400px;
     font-family: inter;
     color: white;
}

.white-star{

width: 80px;
height: 80px;
 position: absolute;
  top: 15px;
  right: 15px;
  margin-right: 35%;
}

.card-body5{

background-color: #6b5fa6;
width: 180px;
height: 250px;
top: 698px;
border-radius: 10px;
left: 123px;
margin-bottom: 50px;


}

.small-icon{

width: 76.85px;
height: 76.85;
top: 179px;
left: 175px;

}

.days-text{
display: flex;
justify-content: center;
font-family: inter;
font-size: 40px;
font-weight: 400;
}

.H-L{

font-weight: 400;
font-size: 24px;
color: white;
letter-spacing: 0%;
}

